doctype html
html
  head
    title= title
   
    link(rel='stylesheet', href='/stylesheets/bootstrap.min')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min')
  body
    block content
